iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            idkey = "irida_id"
            global = [
                "**/merge/TypingQC_report.csv"
            ]
        }
        metadata {
            samples {
                csv {
                    path = "**/merge/TypingQC_report.csv"
                    idcol = "sample"
                }
            }
        }
    }
}
